<br>
<center><h3>Is This a Hot Take?</h3>
<br>
<h2>"<%= @hot_take.description %>"</h2>

<br>
<p><%= button_to 'Oh For Sure, Super Hot Take',  "/hottakes/#{@hot_take.id}", method: :patch, params: { vote: 'hot' }, class: 'btn btn-dark' %></p>
<p><%= button_to 'Na.. Mikes Spot On Here',  "/hottakes/#{@hot_take.id}", method: :patch, params: { vote: 'cold' }, class: 'btn btn-dark' %></p>
</center>