<br>
<div class='container-sm'>
<center><h2>Mike's Hottest Takes</h2> </center>

<center>
<table class="table table-borderless">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Take</th>
      <th>Heat Level</th>
    </tr>
  </thead>
  <tbody>
    <% @hottest.each_with_index do |take, i| %>
    <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= take.description %></td>
        <td><% take.index.times do |i| %>
              &#127798;
            <% end %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>
</center>
</div>


<div class='container-sm'> 

<center><h2>Mike's Coldest Takes</h2></center>

<center>
<table class="table table-borderless">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Take</th>
      <th>Heat Level</th>
    </tr>
  </thead>
  <tbody>
    <% @coldest.each_with_index do |take, i| %>
      <tr> 
        <th scope="row"><%= i + 1 %></th>
        <td><%= take.description %></td>
        <td><% take.index.abs.times do |i| %>
              &#129398;
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>

</center>
</div>