
  <center><p><%= button_to 'Mikes Hottest Takes', '/hottakes', method: :get, class: 'btn btn-dark' %></p></center>
  <center><p><%= button_to 'Hit Me With a Hot Take!!', '/hottakes/random/vote', method: :get, class: 'btn btn-dark' %></p></center>